{% extends 'main/layout.html' %}

{% block title %}Страница про нас{% endblock %}

{% block content %}
<div class="features">
    <h1>Про нас</h1>
    <p>Django — свободный фреймворк для веб-приложений на языке Python,
        использующий шаблон проектирования MVC. Проект инстинкта выбора
        Django Software Foundation. Сайт на Django построен из одного или
        нескольких приложений, которые рекомендуется делать отчуждаемыми и подключаемыми.</p>
    <button class="btn btn-danger">...</button>
</div>
{% endblock %}
